/* stylelint-disable no-descending-specificity */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Roboto+Slab:wght@100;200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ccc1c1;
}

.nav-bar {
  display: flex;
  align-items: center;
  padding: 18px 10%;
  background-color: #fff;
}

.nav-bar div {
  margin: 0 28px;
}

.nav-bar h1 {
  color: #0b8ff5;
}

.nav-bar a {
  font-weight: 700;
  margin: 12px;
  text-decoration: none;
  color: #535151;
}

.nav-bar a:hover {
  color: #0290ff;
}

.book-shelf {
  margin-top: 25px;
  margin-bottom: 26px;
  margin-left: 10%;
  margin-right: 10%;
}

.booking {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 18px;
  margin: 28px 0;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  background-color: rgb(233, 219, 219);
}

.booking * {
  background-color: rgb(238, 231, 231);
}

.booking h1 {
  margin-top: 6px;
  margin-bottom: 2px;
  font-family: 'Roboto', sans-serif;
  color: #222121;
}

.category {
  font-size: 0.8rem;
  font-weight: 570;
  color: #bcb9b9;
  font-family: 'Montserrat', sans-serif;
}

.author {
  color: #0a94fd;
}

.btn {
  display: flex;
  gap: 12px;
  margin-top: 16px;
}

.btn button {
  border: none;
  font-weight: 480;
  color: #3f86c5;
}

.status-btn {
  border: none;
  font-weight: 500;
  padding: 15px 25px;
  margin: 200px 530px;
  width: 20%;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1.8rem;
  color: #fff;
  background-color: #0290ff;
}

.btn button:nth-child(2) {
  border-left: 1px solid #cac8c8;
  border-right: 1px solid #cac8c8;
  padding: 0 10px;
}

.btn button:hover {
  cursor: pointer;
}

.add-new-book {
  margin: 18px 10%;
  border-top: 1px solid #c0c0c0;
}

.add-new-book h2 {
  margin: 28px 0;
  color: #c2c2c2;
}

.add-new-book form {
  display: flex;
  gap: 15px;
}

.add-new-book input {
  padding: 5px;
  width: 38%;
}

.add-new-book button {
  padding-top: 18px;
  padding-bottom: 15px;
  padding-left: 26px;
  padding-right: 26px;
  width: 26%;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-size: 0.7rem;
  color: rgb(201, 186, 186);
  background-color: #3290d8;
}

.read-on {
  display: flex;
  align-items: center;
  gap: 60px;
}

.first {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reading-desc {
  display: flex;
  align-items: center;
  gap: 24px;
}

.p-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.percentage {
  font-size: 2.4rem;
}

.round {
  border-radius: 48%;
  border-width: 8px;
  border: 5px solid #1691f0;
  border-left-color: rgb(194, 175, 175);
  transform: rotate(45deg);
}

.read .com {
  font-size: 0.6rem;
  color: #d6c8c8;
}

.chapter-head {
  border-left: 2px solid #a59c9c;
  padding: 0 45px;
}

.chapter-head h2 {
  margin: 10px 0;
  font-size: 0.9rem;
  font-weight: 480;
  color: #e2d2d2;
}

.chapter-head button {
  cursor: pointer;
  margin: 10px 0;
  padding-top: 10px;
  padding-left: 25px;
  padding-bottom: 12px;
  padding-right: 26px;
  border: none;
  border-radius: 5px;
  color: rgb(236, 230, 230);
  background-color: #1b94f0;
}
